@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue Black'), local('TT-Firs-Neue-Black'),
        url('../fonts/TTFirsNeue-Black.woff2') format('woff2'),
        url('../fonts/TTFirsNeue-Black.woff') format('woff'),
        url('../fonts/TTFirsNeue-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }